body {
	margin: 0;
}

.navigation {
	background-color: #1d2e59;
	padding: 0 8vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.left, .right{
	width: 20vw;
	display: flex;
	justify-content: space-between;
}

.top-logo {
	margin: 25px auto;
	width: 500px;
}

.button {
	margin: 5px 0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-family: goudy-old-style, serif;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
}

.button:hover{
	text-decoration: none;
	color: white;
}

#landing {
	margin-bottom: 0;
}

.jumbotron {
	background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(assets/carousel1.jpg);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url(assets/carousel1.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(assets/carousel1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 75vh;
}

.jumbo-info {
	color: white;
	font-family: goudy-old-style, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 75px;
	letter-spacing: 2px;
	display: flex;
	justify-content: center;
}

.heading-small {
	font-size: 82%;
}

.info {
	color: #F0F4FF;
	background-color: #1d2e59;
	padding-bottom: 50px;
	font-family: goudy-old-style, serif;
}

.info-heading {
	padding-top: 50px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 28px;
}

.info-description {
	margin: 0 auto;
	width: 50%;
}

.divider {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.divider img {
	width: 35%;
}

.gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.insta-link {
	border: solid 2px #142048;
	margin: 30px;
	overflow: hidden;
	display: inline-block;
	-webkit-box-shadow: 0 15px 20px 3px #142048;
	        box-shadow: 0 15px 20px 3px #142048;
}

.insta-link img {
	display: block;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	width: 300px;
}

.insta-link img:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
  	-webkit-transform-origin: 50% 50%;
  	    -ms-transform-origin: 50% 50%;
  	        transform-origin: 50% 50%;
}

.contact {
	padding: 15px 0;
	color: white;
	background-color: #142048;
	font-size: 28px;
	font-family: goudy-old-style, serif;
	letter-spacing: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.contact-heading {
	margin: 0;
}

.zoom {
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
	transition: transform .4s, -webkit-transform .4s;
	-webkit-transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
	     -o-transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
	        transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
}

.zoom:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.fab, a[href^="mailto:"] {
	color: white;
	margin: 0 5px;
}

.credit {
	padding-top: 20px;
	font-size: 12px;
}

.author {
	color: white;
}

.contact-container {
	font-family: goudy-old-style, serif;
	color: white;
	padding-top: 40px;
	background-color: #1d2e59;
	display: flex;

}

.contact-info {
	width: 39%;
	padding-left: 70px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.contact-body {
	font-size: 60%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.contact-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#map {
	width: 62%;
	height: 680px;
}

@media screen 
	and (max-width: 1150px) {
		.navigation {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			padding-bottom: 25px;
		}
		.center {
			margin: 25px auto 10px auto;
			order: -1;
		}
		.left, .right {
			flex-direction: column;
			order: 1;
		}
}

@media screen 
	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)  {
		.navigation {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			padding-bottom: 25px;
		}
		.center {
			margin: 25px auto 10px auto;
			order: -1;
		}
		.left, .right {
			flex-direction: column;
			order: 1;
		}
		.jumbotron {
			height: 50vh;
		}
		.info-description {
			width: 80vw;
		}
		.gallery {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
		.insta-link img {
			width: 80vw;
		}
		.info-heading, .contact-heading, i {
			font-size: 200%;
		}
		.heading-small {
			font-size: 82%;
		}
		i {
			padding: 10px 20px;
		}
}