body {
	margin: 0;
}

.modal-content {
	text-align: center;
	font-family: goudy-old-style, serif;
}

.shake {
	-webkit-animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
	        animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

@-webkit-keyframes shake {
	10%, 90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		        transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		-webkit-transform: translate3d(2px, 0, 0);
		        transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		        transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		-webkit-transform: translate3d(4px, 0, 0);
		        transform: translate3d(4px, 0, 0);
	}
}

@keyframes shake {
	10%, 90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		        transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		-webkit-transform: translate3d(2px, 0, 0);
		        transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		        transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		-webkit-transform: translate3d(4px, 0, 0);
		        transform: translate3d(4px, 0, 0);
	}
}

.navigation {
	background-color: #1d2e59;
	padding: 0 8vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.left, .right{
	width: 20vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.top-logo {
	margin: 25px auto;
	width: 500px;
}

.button {
	margin: 5px 0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-family: goudy-old-style, serif;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
}

.button:hover{
	text-decoration: none;
	color: white;
}

.landing{
	height: 65vh;
}

.tourBtn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-animation: 2s ease 1 forwards slide;
	        animation: 2s ease 1 forwards slide;
	margin-right: 110px; 
}

.landing-message {
	font-size: 64px;
	-webkit-animation: 2s ease 1 forwards slide;
	        animation: 2s ease 1 forwards slide;
	text-align: center;
	margin-right: 110px; 
}

@-webkit-keyframes slide {
	0%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
		opacity: 0;
	}
	50%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(55px);
		        transform: translateX(55px);
		opacity: 1;
	}
}

@keyframes slide {
	0%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
		opacity: 0;
	}
	50%{
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(55px);
		        transform: translateX(55px);
		opacity: 1;
	}
}

.jumbotron {
	background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(assets/carousel1.jpg);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url(assets/carousel1.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(assets/carousel1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 75vh;
	z-index: 1;
}

#video-container {
	display: inline-block;
    top: 0%;
    left: 0%;
    height: 75vh;
    width: 100%;
    overflow: auto;
}

.video{
	height: 100%;
}

video {
	background-color: black;
    position: absolute;
    z-index: -1;
    width: 100vw;
}

.jumbo-info {
	color: white;
	font-family: goudy-old-style, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 75px;
	letter-spacing: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.heading-small {
	font-size: 82%;
}

.info {
	color: #F0F4FF;
	background-color: #1d2e59;
	padding-bottom: 50px;
	font-family: goudy-old-style, serif;
	overflow: auto;
}

.info-heading {
	padding-top: 50px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 28px;
}

.info-description {
	margin: 0 auto;
	width: 50%;
}

.divider {
	padding-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.divider img {
	width: 35vw;
}

.gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.insta-link {
	border: solid 2px #142048;
	margin: 30px;
	overflow: hidden;
	display: inline-block;
	-webkit-box-shadow: 0 15px 20px 3px #142048;
	        box-shadow: 0 15px 20px 3px #142048;
}

.insta-link img {
	display: block;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	width: 300px;
}

.insta-link img:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
  	-webkit-transform-origin: 50% 50%;
  	    -ms-transform-origin: 50% 50%;
  	        transform-origin: 50% 50%;
}

.contact {
	padding: 15px 0;
	color: white;
	background-color: #142048;
	font-size: 28px;
	font-family: goudy-old-style, serif;
	letter-spacing: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.contact-heading {
	margin: 0;
}

.fab, a[href^="mailto:"] {
	color: white;
	margin: 0 5px;
}

.credit {
	padding-top: 20px;
	font-size: 12px;
}

.author {
	color: white;
}

.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.product {
	margin: 0 auto;
}

.contact-container {
	font-family: goudy-old-style, serif;
	color: white;
	padding-top: 40px;
	background-color: #1d2e59;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.contact-info {
	width: 39%;
	padding-left: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.contact-body {
	font-size: 60%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.contact-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#map {
	width: 62%;
	height: 680px;
}

@media screen 
	and (max-width: 1150px) {
		.navigation {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			padding-bottom: 25px;
		}
		.center {
			margin: 25px auto 10px auto;
			-webkit-box-ordinal-group: 0;
			    -ms-flex-order: -1;
			        order: -1;
		}
		.left, .right {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-ordinal-group: 2;
			    -ms-flex-order: 1;
			        order: 1;
		}
		.contact-container {
			height: 70vh;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
		.contact-info {
			width: 100%;
			padding: 0;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
		#map {
			width: 100%;
		}
}

@media screen 
	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)  {
		.navigation {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			padding-bottom: 25px;
		}
		.center {
			margin: 25px auto 10px auto;
			-webkit-box-ordinal-group: 0;
			    -ms-flex-order: -1;
			        order: -1;
		}
		.left, .right {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-ordinal-group: 2;
			    -ms-flex-order: 1;
			        order: 1;
		}
		.jumbotron {
			height: 50vh;
		}
		.info-description {
			width: 80vw;
		}
		.gallery {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
		.insta-link img {
			width: 80vw;
		}
		.info-heading, .contact-heading, i {
			font-size: 250%;
		}
		.heading-small {
			font-size: 82%;
		}
		i {
			padding: 10px 20px;
		}
}