body {
	margin: 0;
}

.top-banner {
	background-color: #fdf6e0;
	padding: 0 8vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.top-logo {
	margin: 25px auto;
	width: 500px;
}

.button {
	margin: 5px 0;
	border: none;
	color: #2b1c04;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-family: goudy-old-style, serif;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
}

.button:hover{
	text-decoration: none;
	color: #2b1c04;
}

#landing {
	margin-bottom: 0;
}

.jumbotron {
	background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(assets/carousel1.jpg);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.2))), url(assets/carousel1.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(assets/carousel1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 75vh;
}

.jumbo-info {
	color: #fdf6e0;
	font-family: goudy-old-style, serif;
	font-weight: 700;
	font-style: normal;
	text-align: right;
	font-size: 100px;
	letter-spacing: 2px;
}

.heading-small {
	font-size: 82%;
}

.info {
	background-color: #fdf6e0;
	padding-bottom: 50px;
	font-family: goudy-old-style, serif;
}

.info-heading {
	padding-top: 50px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 28px;
}

.info-description {
	margin: 0 auto;
	width: 50%;
}

.gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.insta-link {
	border: solid 2px #2b1c04;
	margin: 30px;
	overflow: hidden;
	display: inline-block;
	-webkit-box-shadow: 0 15px 20px 3px grey;
	        box-shadow: 0 15px 20px 3px grey;
}

.insta-link img {
	display: block;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	width: 300px;
}

.insta-link img:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
  	-webkit-transform-origin: 50% 50%;
  	    -ms-transform-origin: 50% 50%;
  	        transform-origin: 50% 50%;
}

.contact {
	padding: 15px 0;
	color: #fdf6e0;
	background-color: #2b1c04;
	font-size: 28px;
	font-family: goudy-old-style, serif;
	letter-spacing: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.contact-heading {
	margin: 0;
}

.social {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.zoom {
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
	transition: transform .4s, -webkit-transform .4s;
	-webkit-transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
	     -o-transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
	        transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
}

.zoom:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.fab, a[href^="mailto:"] {
	color: #fdf6e0;
	margin: 0 5px;
}

.credit {
	padding-top: 20px;
	font-size: 12px;
}

.author {
	color: #fdf6e0;
}

@media screen and (max-width: 1150px) {
	.top-banner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.top-logo {
		margin: 25px auto 10px auto;
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
	}
	.button {
		margin: 0 0 15px 0;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}
	.gallery {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}